
body {
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 7fr 5fr;
    background-color: #fff;
    width: 100%;
}

.box {
    background-color: rgb(177, 123, 123);
    border-radius: 5px;
    padding: 0px;
    font-size: 120%;
}

.youtube_area {
  text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.right_area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.subtitle_area {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  color: #fff;
}

.button_control_area {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.right_area #word_you_wana_know {
  position: relative;
  float: left;
  width: 100%;
  color: rgba(111, 197, 250, 0.845);
  font-size: 130%;
}

.right_area #meaning_word_you_wana_know {
  position: relative;
  float: left;
  width: 100%;
}

.subtitle_area .one_word_of_scripts:hover {
  color: rgba(111, 197, 250, 0.845);
}

#current_script_index {
  width: 16px;
  text-align: center; 
}

#length_script {
  font-size: 100%;
}

.text_area {
  padding-left: 10px;
    padding-right: 5px;
}

@media only screen and (max-width: 840px) {
  /* For mobile phones: */
  body {
    background-color :  #C3f;
  }

  .youtube_area {
    text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  .right_area {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    min-height: 30px;
  }
  
  .subtitle_area {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    color: #fff;
  }
  
  .button_control_area {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
  }

  #yt {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  #yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

