{% extends "home/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'my_cafe/css/my_cafe.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="video_list_area">
    {% csrf_token %}
    {% for content in contents %}
    <form action="{% url 'show_thread'%}" method="post">

        <div class="gallery">
            <input class="input_image" type="image" src="{{content.2}}" />
            <div class="desc">{{content.1}}</div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock content %}